.container {
    display: flex;
    justify-content: space-between;
    background-color: #16161c;
    align-items: center;
    height: 5em;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1;
    box-shadow: 0px 0px 10px 5px #16161c;
}

.img {
    height: 2.5em;
    padding: .5em;
    margin-left: 1em;
}

.img:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 25px #0ff);
}


.ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.li {
    margin-right: .3rem;
}

.link {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin-right: 1em;
    transition: color 0.3s ease-in-out;
    position: relative;
}

.link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: transparent;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
}

.link:hover {
    text-shadow: 0px 0px 25px #fff;
}

.link:hover::before {
    background-color: #fff;
    transform: scaleX(1);
    transform-origin: left;
}

.bar {
    width: 2em;
    height: 3px;
    background-color: #fff;
    margin: .2em 0;
    transition: 0.4s;
}

.mobileMenu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

@media (max-width: 500px) {
    .mobileMenu {
        display: flex;
        margin-right: 1.5em;
    }

    .ul {
        border-top: 1px solid #04c7b317;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        background-color: #16161c;
        width: 100%;
        opacity: 0;
        pointer-events: none;
        transition: 0.3s;
    }

    .ul.show {
        opacity: 1;
        pointer-events: auto;
    }

    .li {
        margin: 10px 0;
    }

    .bar.open {
        transform: rotate(-45deg) translate(-6px, 6px);
    }

    .bar.open:nth-child(2) {
        opacity: 0;
    }

    .bar.open:nth-child(3) {
        transform: rotate(45deg) translate(-6px, -6px);
    }
}