.container {
  display: flex;
  height: 100vh;
  color: #fff;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}

.profileContent {
  width: 50%;
  background-color: #16161c;
  padding: 2em;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px #16161c;
}

.profileImage {
  height: 10em;
  float: right;
}

.profileText {
  text-align: center;
}

.greeting {
  font-size: 1.2rem;
  margin-bottom: 1em;
}

.title {
  text-shadow: none;
  text-decoration: underline;
  color: #04c7b3;
  font-size: 1.2rem;
  margin-bottom: 1em;
}

.description {
  font-size: 1rem;
}
@media (max-width:900px) {
    .profileContent{
      width: 100%;
      padding: 0px;
    }
}